@import url('gfonts.css');

/**
@import url(https://fonts.googleapis.com/css?family=Poiret+One|Indie+Flower|Lobster|Shadows+Into+Light|Amatic+SC|Gloria+Hallelujah|Crafty+Girls|Nothing+You+Could+Do|Bonbon);

/**

font-family: 'Poiret One', cursive;

font-family: 'Indie Flower', cursive;

font-family: 'Lobster', cursive;

font-family: 'Shadows Into Light', cursive;

font-family: 'Amatic SC', cursive;

font-family: 'Gloria Hallelujah', cursive;

font-family: 'Crafty Girls', cursive;

font-family: 'Nothing You Could Do', cursive;

font-family: 'Bonbon', cursive;

**/

/**  ##d5f981   keylime */

html,body {
    height: 100%;
}

#wrap {
    overflow:hidden;
    height: 100%;
}

.hidden {

    display:none;

}

.f-20px {

    font-size: 22px !important;;
}


.black {
    background: black;
   
}

.white-on-black {
    background: black !important;
    color: white !important;
}
.blue {
   background:     #2efdfe; 
}

.white {
    background: white;
}
.title-container {

    height:15%;
}


.main-container {


    height: 100%;
    border-top: 1px solid  white;
}


.main-container .row,.footer-container .row,.front-footer-container .row {
//    height: 100%;

}
.footer-container a {
    cursor: pointer;
}
.species-container .row {
    height: 24%;
    border-bottom: 1px solid gray;
}

.instructions {

    border: 1px solid gray;
}

.main-container.species-select-container {
//    height: 70%;
}





.footer-container {
    max-height: 15%;
    height: 15% !important;;
    border-top: 2px solid gray;
}

.footer-panel {
//    min-height: 300px !important;
}
.panel-height-160  {
    height: 160px !important;
}

.sight-link:hover {
    opacity: 0.8;
    transition: all 0.5 ease;
}


.nav-panel {
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    background-repeat:  no-repeat !important;;
    min-height: 180px !important;
    background-size: cover !important;
    background-position: 50% 50% !important;    

}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
.title-container {
    font-weight: bold;
    font-family: 'Lobster', cursive;
   //    font-family: 'Crafty Girls', cursive;
    
}

.page-title {
    
 
    font-size:  42px;


}

#title-type {

    font-size: 24px;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    top: -14px;
    position: relative;
    font-weight: normal;
}


.top-menu-btn {

    float: right;
    margin: 5px;
    
}


.green {

//    background: #29f62e;
    background: #a5f9a7;;
}


.science-corner {
      font-family: 'Lobster', cursive;
      color: black;
}

.query-panel {
    
    height: 100%;
    
}


.hideme {

    display: none !important;
}

/** sighting card */

.sighting-card-container .final {

    height: 220px;
    
}

.sighting-card-container .head {
    font-weight: bold;
    text-decoration: underline;

}
.hide-sighting-card {

    display: none !important;
}

.sighting-card-expanded {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}

.sighting-card .obs-label {

    padding-right: 20px;
    font-weight: bold;
}
.sighting-card .obs-label:after {

    content: ":";
}

.species-sum:after {

}
.species-sum {
    font-weight: bold;
    font-size: 120%;
    padding-right: 10px;

}
/** END sighting-card */
/** @@science.html */
.feed-container {

    background: white !important;

    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: Arial;

}
.science-container {
    overflow: hidden;
    overflow-y: scroll;

}
a.rss-url {

    text-decoration: none;
    color: white;
}

a.rss-url:hover  {
    text-decoration: none;
    color: silver;

}
.rss-title:hover  {
    background: #dd1919;

}
.rss-title {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -30px;
    padding-left: 10px;
    padding-top: 0px;
    color: white;
    font-size: 18px;
    font-weight: bodl;
    background: #bb1919;
}


#rss-feeds {
    padding:0;
    margin: 0;
    width: 102%;

}

.row.rss-feed {
    overflow:hidden;
    overflow-y: scroll;
}

.science-page .main-container {

    height: 70%;
}

.science-page p,li {
    font-family: 'Nothing You Could Do', cursive;    
    font-weight: bold;
    padding: 10px;
    font-size: 18px;
		 
}
/** END science.html */

/** index.html */



.type-select-page .page-title {

    display: inline-block;
    margin-left: 20%;

}

/** earth container  */
.earth-container {
    height: 100px !important;;
    width: 100px !important;;
    margin-top: 30px;
    border: 1px solid blue;    
    margin-left: auto;
    margin-right: auto;
    background: #e18d27;
    padding: 10px;
    
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

}

#earth {

    background-image: url(../img/earth.gif);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.type-select-page .options-link {

    float: right;
}
.type-select-page .footer-container {

    height: 30% !important;;
    max-height: 30% !important;
}


.type-select-container.main-container {

    max-height: 55%;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    overflow: hidden;
    
}

/** END index.html */




/** @@ species-select page @@ */

.species-select-page #continue {
    font-size: inherit;

}
.species-select-page .footer-container {
//    font-family: 'Lobster', cursive;

   font-size: 22px;

}

.species-select-page .footer-container .msg {

}

.species-select-page .footer-container a {
    background: black;
    color: white;

}
.species-select-page .instruction-panel {
    height:   12%;
    font-weight: bold;
    color: silver;

}

.species-select-page .instruction-panel p {
    margin-top: 3px;
}

.msg {
    color: white;
    font-size: 80%;

}
#msg {

    font-weight: bold;
    
}

.species-select-page .main-container {
    padding:0;
    height: 67%;
}


.species-select.list-group-item {

    padding:0;


}
.species-select-page .species-select .image {
    height: 130px;
    width: 100%;
    overflow: hidden;

}


.species-select .image img{

    height: 120%;
    position: relative;
    top: -20%;
    left: -20%;


}

.h50 {

    height: 50% !important;

}


.h70 {

    height: 70% !important;

}


.h79 {
    
    height: 79% !important;

}

.h89 {
    
    height: 89% !important;

}
/** END species-select page */
/** @@photo page */
.container.photo-container {
    margin: 0 auto;
    padding: 0;

}
.photo-container .row {
    height: 100%;
    padding: 0;
    margin: 0;
}

.photo-container .col-xs-12  {
    margin: 0;
    padding: 0;
}
.photo-container #cam-icon {

    height: 100%;
    width: 100%;
}

.photo-container #cam-icon:hover {
    background: white;
    -moz-filter: invert(100%);
    -webkit-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: invert(100%);
    transition: all 1 ease;
}
/** END photo page */



/** species select scroller */

#species-select-scroller {
    overflow: hidden;
    overflow-y:scroll;
    height:100%;
    width:100%;
}

.list-group-item.species-select {
    background: black;
    color: white;
}
.list-group-item.species-select:hover {

    transition: all 1 ease;
    background: #222;
    color: white;
    
}
.species-select .scientific_name {
    font-style: italic;
}
.species-select .name {
    font-weight: bold;
    font-size: 14px;
}

.species-select .text {

    height: 40px;
}
.image-container {
    padding:0 !important;
    margin: -1px;;

}

.info-container {
    px 5px 5px 15px !important;
    margin: -1px;
    height: 130px;
}

.species-select .image {

    

}

/** END species select scroller */
/** photo page */


#image-gallery img {
    height: 100px;
    width: auto;

}

.gallery-image-container {
    height: 50px;
    width: 50px;
    overflow: hidden;

}
.photo-gallery-panel {
    min-height: 200px;
    color: white;

}
.photo-container {
    overflow: hidden;
    height: 70%;
}
/** END photo page */


.thumbnail_ans img {
    height: 50px;
    width: auto;
//    transform: rotate(90deg); 
    margin: 3px 0px;
}

/** wrapper to constrain thumbnail */

.thumbnail_ans {

    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 3px;    
}

/** summary  page */

.summary-container  .list-group {

    height:100%;
    width:100%;
    overflow:hidden;
    overflow-y:scroll;
}

    
.summary-page .obs-label {
    
}
.summary-page .obs-content {


}
.summary-panel {
    height: 100%;

}
.summary-panel .label {

    font-weight: bold;
    color: black;
    font-size: 100% !important;
}

.summary-container .content {

    font-family: 'Nothing You Could Do', cursive;    
    
}
.main-container.summary-container {
    height: 70%;
    
}
.summary-page .main-container .row {
    height: 100%;
    margin-right: -35px;

}
/** END summary  page */

/** scroller page */
.scroller-page .footer-container h2{

    font-size: 22px !important;
}
.container.scroller-container {

    height: 70%;
    overflow: hidden;
    margin-right: -15px;
    margin-left: -15px;
}
.scroller-container .row {
    height: 100%;

}

.scroller-container .list-group-item {
    height: 75px;

}

.scroller-container .list-group-item.sighting-card-expanded {
    height: 100% !important;

}
.scroller-panel {

    height: 100%;
    
}

.photo-sum {
    display: inline-block;
    float: right;
}


.scroller-container  .list-group {
    height:100%; width:100%;
}
.scroller-container .list-group  {
    overflow:hidden;overflow-y:scroll;
}



/** END scroller page */


/** @@location  page */


.map-container .map {

    height: 60%;
    
    
}

/** END location  page */

/** options page */

.options-container .row {

    margin-right: 5px;
    margin-left: 5px;
    color: black;

}

.options-container .row .label-ans {

    font-weight: bold;

}




/** END options page */
.wolf {

    background-image: url(../img/wolf.jpg);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    height: 100%;

}

.nav-panel.img {
    background-size: cover;

    background-repeat: no-repeat;
    color: #000;

}
.polarbear {

    background-image: url(../img/polarbear.jpg);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    height: 100%;

}
.arctic-fox {

    background-image: url(../img/arctic_fox.jpg);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    height: 100%;

}
#continue {
    font-weight: bolder;
    font-size: 38px;

}

/** observations-page */

.observations-page #title-type {



}

.row.observations {

    height: 100%;

}
/** utility */



.bw {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
    filter: brightness(80%);
}

/** ipad */
@media  screen and (min-device-width: 768px) and (max-device-width: 1024px)  { 


.species-select-page .species-select .image {
   height: 230px;
 
}


.species-select .image img {
    height: 150%;

}


}


/** nexus 5x */
@media  screen and (min-device-width: 411px) and (max-device-width: 731px)  { 


.species-select-page .species-select .image {
   height: 150px;
 
}


.species-select .image img {
    height: 150%;

}


}


